* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--head-font: 'Montserrat', sans-serif;
	--head-font-color: #191919;
	--text-font: 'Nunito Sans';
	--text-font-color: #787878;
	--main-bg-color: #10c9c3;
	--secondary-bg-color: #f5f5f5;
	--dark-bg-color: #141414;
}

body {
	overflow: hidden;
}

header {
	display: flex;
	gap: 0.5rem;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 0.5rem 1rem;
}

header img {
	height: 3rem;
	width: 3rem;
}

header nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style-type: none;
	text-transform: uppercase;
	gap: 1.5rem;
}
header nav ul li {
	transition: transform 50ms ease-in-out;
}

header nav ul li:hover {
	cursor: pointer;
	transform: scale(1.05);
}

header nav ul li:active {
	transform: scale(0.95) rotate(1deg);
}

header nav ul li a {
	font-weight: 600;
	font-family: var(--head-font);
	letter-spacing: 1px;
	text-decoration: none;
	color: var(--head-font-color);
	padding: 0.25rem;
}

header nav ul li:first-child a {
	color: var(--main-bg-color);
}
