* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --head-font: "Montserrat", sans-serif;
  --head-font-color: #191919;
  --text-font: "Nunito Sans", sans-serif;
  --text-font-color: #787878;
  --lead-bg-color: #f5f5f5;
  --secondary-bg-color: #10c9c3;
  --dark-bg-color: #141414;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem 1rem;
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
}

header img {
  height: 3rem;
  width: 3rem;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  text-transform: uppercase;
  font-size: 0.75rem;
  gap: 1.5rem;
}
header nav ul li {
  transition: transform 50ms ease-in-out;
}

header nav ul li:hover {
  cursor: pointer;
  transform: scale(1.05);
}

header nav ul li:active {
  transform: scale(0.95) rotate(1deg);
}

header nav ul li a {
  font-weight: 600;
  font-family: var(--head-font);
  letter-spacing: 1px;
  text-decoration: none;
  color: var(--head-font-color);
  padding: 0.25rem;
}

header nav ul li:first-child a {
  color: var(--secondary-bg-color);
}

.hero {
  background-image: url(../../images/laptop-bg.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  min-height: 35rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.hero .hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 25rem;
  gap: 1.5rem;
  padding: 5rem 2rem;
}

.hero .hero-content h1 {
  font-family: var(--head-font);
  color: var(--head-font-color);
  font-weight: 600;
  font-size: 1.25rem;
}

.hero .hero-content p {
  font-family: var(--text-font);
  color: var(--text-font-color);
  line-height: 1.25rem;
  font-size: 0.7rem;
  text-shadow: 1px 1px 3px #ffff;
  max-width: 60%;
}

.hero .hero-content button {
  background-color: var(--secondary-bg-color);
  border: none;
  width: 8rem;
  height: 2.25rem;
  margin-top: auto;
}

.hero .hero-content button a {
  font-family: var(--head-font);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.7rem;
  letter-spacing: 1px;
  color: white;
  font-weight: 600;
}

.hero .hero-content button:hover {
  cursor: pointer;
}

.about {
  height: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-description {
  height: 40%;
  text-align: center;
  padding: 3rem 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.about-description h2 {
  font-family: var(--head-font);
  color: var(--head-font-color);
  font-weight: 600;
  font-size: 1.5rem;
}

.about-description p {
  font-family: var(--text-font);
  color: var(--text-font-color);
  max-width: 20rem;
  line-height: 1.2rem;
  font-size: 0.8rem;
}

.about-description img {
  width: 10rem;
}

.about-skills {
  height: 60%;
  background-color: #f9f9f9;
  background-image: url(../../images/pencil-bg.png);
  background-position: 30%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding-left: 1rem;
}

.about-skills h2 {
  font-family: var(--head-font);
  color: var(--head-font-color);
  font-weight: 600;
  font-size: 1.35rem;
  text-shadow: 0 0 5px white;
  max-width: 50%;
}

.skill-bars-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  text-transform: uppercase;
  font-family: var(--text-font);
  font-weight: 600;
  color: black;
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  width: 70%;
}

.skill-bars-container span {
  margin-left: 0.5rem;
}

.skill-bars-container meter {
  width: 100%;
  border: none;
  border-radius: 0;
  background-color: var(--secondary-bg-color);
}

.skill-bar {
  height: 3px;
  background-color: #d8d8d8;
}

.bar-fill {
  height: 100%;
  background-color: var(--secondary-bg-color);
}

.design-bar .bar-fill {
  width: 75%;
}

.development-bar .bar-fill {
  width: 90%;
}

.marketing-bar .bar-fill {
  width: 65%;
}

.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  text-transform: uppercase;
  font-family: var(--head-font);
  color: white;
  background-color: var(--secondary-bg-color);
  width: 100%;
  padding: 4rem 0;
}

.stat-container {
  text-align: left;
  padding: 0 2rem;
  width: 80%;
  display: flex;
  gap: 1rem;
}

.stat-container:nth-child(2n) {
  flex-direction: row-reverse;
}

.stat-container:nth-child(2n) .stat-count {
  text-align: right;
}

.stat-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stat-icon::before {
  vertical-align: -50%;
  font-size: 2.5rem;
}

.stat-count,
.stat-name {
  letter-spacing: 1px;
}

.stat-count {
  font-weight: 700;
}

.stat-name {
  font-size: 0.75rem;
  font-weight: 600;
}

.work-image-grid {
  display: grid;
  width: 100%;
  height: 800vw;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 10px;
  padding: 10px;
}

.grid-image {
  border: 2px solid var(--secondary-bg-color);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  transition-property: scale;
}

.grid-image .hover-effect {
  width: 100%;
  height: 100%;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  position: absolute;
  display: grid;
  place-items: center;
  background-color: #141414;
  opacity: 0;
  transition-property: opacity;
}

.grid-image,
.grid-image .hover-effect {
  transition: 100ms;
  transition-timing-function: ease-in-out;
}

.grid-image:hover .hover-effect {
  opacity: 0.85;
  cursor: pointer;
}

.grid-image:hover {
  scale: 1.02;
}
.grid-image:nth-child(1) {
  background-image: url(../../images/grid-photos/grid-1.png);
}
.grid-image:nth-child(2) {
  background-image: url(../../images/grid-photos/grid-2.png);
}
.grid-image:nth-child(3) {
  background-image: url(../../images/grid-photos/grid-3.png);
}
.grid-image:nth-child(4) {
  background-image: url(../../images/grid-photos/grid-4.png);
}
.grid-image:nth-child(5) {
  background-image: url(../../images/grid-photos/grid-5.png);
}
.grid-image:nth-child(6) {
  background-image: url(../../images/grid-photos/grid-6.png);
}
.grid-image:nth-child(7) {
  background-image: url(../../images/grid-photos/grid-7.png);
}
.grid-image:nth-child(8) {
  background-image: url(../../images/grid-photos/grid-8.png);
}

.load-more-work {
  height: 5rem;
  width: 100%;
  background-color: var(--lead-bg-color);
  color: #8e8e8e;
  font-family: var(--head-font);
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: grid;
  place-items: center;
}

.load-more-work:hover {
  cursor: pointer;
  color: #555;
}

.process {
  width: 100%;
}

.process-content {
  padding: 3rem;
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.process-caption {
  font-size: 150%;
  font-family: var(--head-font);
  text-align: center;
  color: var(--head-font-color);
}

.process-description {
  font-family: var(--text-font);
  color: var(--text-font-color);
  font-size: 0.85rem;
  line-height: 20px;
  max-width: 30rem;
  text-align: center;
}

.process-video-container {
  display: grid;
  place-items: center;
  position: relative;
}

.process-video {
  border-radius: 0.25rem;
  background-color: black;
  width: 100%;
}

.play-button {
  background-color: var(--secondary-bg-color);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  position: absolute;
}

.play-button i::before {
  font-size: 2rem;
  color: white;
  font-weight: bold;
  margin-left: 7%;
}

.services {
  display: grid;
  place-items: center;
  background-color: var(--lead-bg-color);
  padding: 4rem 1rem;
}

.service-tiles-container {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 5rem;
  width: 100%;
}

.service-tile {
  width: 75%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.service-tile-icon {
  font-size: 3rem;
  font-weight: 500;
  color: #656565;
}

.service-tile-title {
  font-family: var(--head-font);
  color: var(--head-font-color);
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.service-tile-description {
  font-family: var(--text-font);
  color: var(--text-font-color);
  font-size: 1rem;
  line-height: 20px;
  max-width: 20rem;
}
