:root {
   --sub-color: #8e8e8e;
   --secondary-color: #10c9c3;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: sans-serif;
   font-weight: bold;
}

header {
   border: 1px solid black;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 1rem 7rem;
   letter-spacing: 1.5px;
}

.menu {
   display: flex;
   gap: 1rem;
   list-style-type: none;
   justify-content: flex-end;
}

.menu > li {
   display: grid;
   place-items: center;
}

.menu > li a {
   text-decoration: none;
   color: black;
}

.menu > li:nth-child(1) a {
   color: var(--secondary-color);
}

.laptop-section {
   background: url("../images/laptop.png") no-repeat bottom center;
   background-size: 100%;
   height: 50rem;
}
#logo {
   width: 3rem;
}
